.masked-password {
  -webkit-text-security: disc; /* Safari/Chrome */
  -moz-text-security: disc; /* Firefox */
  -webkit-text-security-except: none 0 2; /* Safari/Chrome */
  -moz-text-security-except: none 0 2; /* Firefox */
}

.topClass {
  z-index: 10;
  background-image: radial-gradient(white, #cff4fc);

  font-size: medium;
  font-weight: bold;
  width: 30px;
  height: 30px;

  border-radius: 50%;
}
