body {
  margin: 0;
  padding: 0;
}

.my-div {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
  top: 74%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Set your desired z-index value */
}
